* {
  margin: 0;
  padding: 0; }

#index .parrafoGrande {
  display: flex;
  justify-content: center;
  color: #0b0a0b;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif; }

#index .tituloGrande {
  display: flex;
  justify-content: center;
  color: #9e175a;
  font-size: 50px;
  font-family: monospace; }

#pressonnails .imaPress, #pressonnails .imaPress2 {
  display: inline-block;
  height: 350px;
  width: 400px;
  padding: 20px; }

#index .imaIndex {
  width: 20px; }

#index .tituloGrande {
  margin: 6px;
  text-align: center;
  color: black; }

#index .tituloIndex {
  font-size: 25px;
  margin: 25px;
  color: #b9166d; }

#index .parrafoIndex {
  padding: 10px;
  margin-left: 15px;
  font-size: 20px;
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif; }

#index .article {
  display: inline-block;
  background-color: #b8b4ae;
  margin: 50px;
  padding: 15px;
  border-radius: 100%; }

#index .letraNegra {
  color: black;
  background-color: #96155a;
  font-size: 20px;
  font-weight: bold; }

#pressonnails form {
  width: 500px;
  background-color: #bfa3b1;
  padding: 25px;
  margin: 30px; }

#pressonnails .tituloPress {
  display: inline-block;
  color: #191317;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 35px; }

#pressonnails .tituloForm {
  display: inline-block;
  color: #970944;
  font-size: 30px;
  margin-left: 25px;
  font-family: monospace; }

#pressonnails .parrafoPress {
  font-size: 20px;
  margin-left: 35px;
  background-color: #fbe7ee;
  color: #9c4263; }

#pressonnails .spanP {
  color: black;
  background-color: #c0586d;
  font-size: 20px;
  font-weight: bold; }

#pressonnails .pPress {
  display: inline-block;
  background-color: deeppink;
  font-size: 25px;
  margin-left: 30px;
  border: solid 15px black; }

#pressonnails input[type="text"],
#pressonnails input[type="email"],
#pressonnails input[type="number"] {
  border: 3px solid black;
  width: 400px;
  padding: 10px;
  display: block; }

#pressonnails form input[type="submit"] {
  background-color: black;
  padding: 10px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: 400; }

#pressonnails form input:focus {
  width: 450px; }

#pressonnails form input[type="submit"]:focus {
  width: 120px;
  color: black;
  border: solid 4px white;
  background-color: #a9227a; }

#promociones .container {
  display: grid; }

#promociones h1 {
  color: #1b0a15;
  margin: 6px;
  text-align: center; }

#promociones ul li {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  list-style: none; }

#promociones .segundaLista {
  color: #5a0b4b; }

#promociones h2 {
  color: black;
  text-align: center; }

#promociones .metodoPago {
  background-color: #6c686a;
  text-align: center;
  font-size: 40px;
  border-radius: 80%;
  margin-bottom: 30px;
  margin-top: 30px; }
  #promociones .metodoPago h3 {
    text-align: center; }
  #promociones .metodoPago h4 {
    text-align: end; }

header {
  background-color: #9c4263; }

.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: white; }

ul li {
  font-size: 40px;
  margin: 40px; }

.footer {
  color: #171616;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  -webkit-animation-name: color;
  animation-name: color;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.footer ol li {
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 10px 10px 15px 15px;
  font-size: large; }

/* KEYFRAMES */
@-webkit-keyframes color {
  0% {
    background-color: #89286c; }
  50% {
    background-color: bisque; }
  100% {
    background-color: dimgrey; } }

@keyframes color {
  0% {
    background-color: #9c4263; }
  50% {
    background-color: bisque; }
  100% {
    background-color: dimgrey; } }

.tiContacto {
  margin: 6px;
  text-align: center; }

@media (max-width: 1024px) {
  /* INDEX */
  .parrafoGrande {
    color: #100d0f;
    font-size: 25px;
    font-family: sans-serifs;
    margin-left: 25px; }
  /* DESCUENTO */
  .tituloDescuento {
    margin-left: 30px;
    font-size: 40px;
    margin-bottom: 40px; }
  .container2 {
    display: flex;
    flex-direction: column; }
  /* PRESS ON NAILS */
  form {
    width: 350px;
    background-color: #df8fba;
    padding: 25px;
    margin: 0 auto; }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    border: 3px solid black;
    width: 250px;
    padding: 10px;
    display: block; }
  .imaPress {
    display: inline-block;
    height: 350px;
    width: 400px;
    padding: 20px; } }

main {
  background-color: #e7e2e7; }
