* {
  margin: 0;
  padding: 0; }

#index .parrafoGrande {
  display: flex;
  justify-content: center;
  color: #0b0a0b;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

#index .tituloGrande {
  display: flex;
  justify-content: center;
  color: #9e175a;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

#index .img1 {
  width: 100%;
  height: 350px; }

#index .tituloGrande {
  margin: 6px;
  text-align: center; }

#index .parrafoGrande {
  font-weight: bold; }

#index .tituloIndex {
  font-size: 25px;
  margin-top: 25px;
  color: #b9166d;
  text-align: center; }

#index .parrafoIndex {
  padding: 10px;
  font-size: 20px;
  color: #0b0b0b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 50px; }

#pressonnails .accordion {
  margin: 20px;
  border: 3px solid #b7b7b7; }
  #pressonnails .accordion button {
    font-weight: bold;
    color: #b73100; }

#pressonnails .tituloPress {
  color: #191317;
  font-size: 40px;
  margin-top: 10px;
  text-align: center; }

#pressonnails .parrafoPress {
  font-size: 20px;
  text-align: center;
  margin-left: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
  color: #9c4263; }

#pressonnails .spanP {
  color: black;
  background-color: #c0586d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

#pressonnails .containerGaleria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #pressonnails .containerGaleria img {
    transition: all 300ms;
    border-radius: 7%;
    width: 350px;
    height: 300px;
    margin: 10px; }
    #pressonnails .containerGaleria img:hover {
      transform: scale(1.1); }

#pressonnails h4 {
  text-align: center; }

#pressonnails .listaPress {
  color: #001504;
  text-align: center;
  list-style: none; }
  #pressonnails .listaPress li {
    font-size: 25px; }

#promociones .container {
  display: grid; }

#promociones h1 {
  border: 5px solid black;
  background-color: #bd5085;
  color: white;
  margin: 20px;
  text-align: center; }

#promociones li {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  list-style: none;
  color: #400f2e;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

#promociones .segundaLista {
  color: #5a0b4b; }

#promociones h2 {
  color: black;
  text-align: center; }

#promociones .metodoPago {
  background-color: beige;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  #promociones .metodoPago h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #7f2265; }

header {
  background-color: #9c4263;
  height: auto; }

.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: white; }

ul li {
  font-size: 40px;
  margin: 40px; }

.navbar-brand {
  width: auto;
  height: 70px;
  border: 2px solid #fffefe;
  border-radius: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: coral;
  background-color: white;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.footer {
  color: #171616;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  height: 20vh;
  -webkit-animation-name: color;
  animation-name: color;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.footer ol li {
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 15px 15px;
  font-size: 20px; }
  .footer ol li .logo {
    width: 60px;
    height: 60px; }

/* KEYFRAMES */
@-webkit-keyframes color {
  0% {
    background-color: #89286c; }
  50% {
    background-color: bisque; }
  100% {
    background-color: #89286c; } }

@keyframes color {
  0% {
    background-color: #9c4263; }
  50% {
    background-color: bisque; }
  100% {
    background-color: #89286c; } }

#contacto label {
  color: black;
  font-weight: bolder;
  font-family: monospace; }

#contacto tiContacto {
  margin: 6px;
  text-align: center; }

#contacto button:hover {
  color: black;
  background-color: coral; }

#contacto textarea {
  border: 1px solid grey; }

@media (max-width: 1024px) {
  /* INDEX */
  .parrafoGrande {
    color: #100d0f;
    font-size: 18px;
    font-family: sans-serifs;
    text-align: center; }
  /* DESCUENTO */
  .tituloDescuento {
    margin-left: 30px;
    font-size: 40px;
    margin-bottom: 40px; }
  .container2 {
    display: flex;
    flex-direction: column; }
  /* PRESS ON NAILS */
  .imaPress {
    display: inline-block;
    width: 200px; } }

.tituloGrande {
  text-align: center;
  margin-top: 5px; }

.parrafoNosotras {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px; }

.carrusel img {
  max-height: 900px;
  margin-bottom: 10px; }
