*{
    margin:0;
    padding: 0;
}

@import './secciones/variables/tipografía';

@import './secciones/index.scss';

@import './secciones/pressonnails.scss';

@import './secciones/promociones.scss';

@import './secciones/header.scss';

@import './secciones/footer.scss';

%estiloPGrande{
      display: flex;
        justify-content: center;
        color: rgb(11, 10, 11);
        font-size: 35px;
        font-family: $typoParagraph;
}