.footer {
    color: #171616;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    -webkit-animation-name: color;
            animation-name: color;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    margin-top: 10px;
  }
  
  .footer ol li {
    color: #0b0b0b;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 10px 10px 15px 15px;
    font-size: large;
  }
  
  /* KEYFRAMES */
  @-webkit-keyframes color {
    0% {
      background-color: #a6f2f2;
    }
    50% {
      background-color: bisque;
    }
    100% {
      background-color: dimgrey;
    }
  }
  @keyframes color {
    0% {
      background-color: #a6f2f2;
    }
    50% {
      background-color: bisque;
    }
    100% {
      background-color: dimgrey;
    }
  }