
.footer {
    color: rgb(23, 22, 22);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 10px;
    ol li {
        color: rgb(11, 11, 11);
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        margin: 10px 10px 15px 15px;
        font-size: large;
    }
    
}

/* KEYFRAMES */
@keyframes color {
    0% {
        background-color: rgb(166, 242, 242);
    }

    50% {
        background-color: bisque;
    }

    100% {
        background-color: dimgrey;
    }
}