.footer {
    color: #171616;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    height: 20vh;
    -webkit-animation-name: color;
            animation-name: color;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

          
 
  }
 
  .footer ol li {
    color: #0b0b0b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 15px 15px;
    font-size: 20px;
    .logo {
      width: 60px;
      height: 60px;
      
    }
 
   }
  
  
  
  /* KEYFRAMES */
  @-webkit-keyframes color {
    0% {
      background-color: #89286c;
    }
    50% {
      background-color: bisque;
    }
    100% {
      background-color: #89286c;
    }
  }
  @keyframes color {
    0% {
      background-color:#9c4263;
    }
    50% {
      background-color: bisque;
    }
    100% {
      background-color: #89286c;
    }
  }

 