#index {
    .imaIndex {
      width: 20px;

    }
    .tituloGrande {
        @extend %estiloTituloI;
        margin: 6px;
    text-align: center;
    color: black;
    }
    
    .parrafoGrande {
        @extend %estiloPGrande; 
    }
    
    .tituloIndex {
        font-size: 25px;
        margin: 25px;
        color: rgb(185, 22, 109);
    }
    
    .parrafoIndex {
        padding: 10px;
        margin-left: 15px;
        font-size: 20px;
        color: rgb(11, 11, 11);
        font-family:$typoParagraph ;
    }
    
    .article {
        display: inline-block;
        background-color: rgb(184, 180, 174);
        margin: 50px;
        padding: 15px;
        border-radius: 100%;
    }

    .letraNegra {
        color: black;
        background-color: rgb(150, 21, 90);
        font-size: 20px;
        font-weight: bold;
    }
    
}

