.tituloGrande {
    text-align: center;
}

.parrafoNosotras {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
   font-family: monospace;
   margin-bottom: 20px;
}

.carrusel {
    
    img {
        max-height: 900px;
        margin-bottom: 10px;
    }
}