@media (max-width:1024px) {

    .parrafoGrande {
        color: rgb(16, 13, 15);
        font-size: 18px;
        font-family: sans-serifs;
        text-align: center;
    }

    .tituloDescuento {
        margin-left: 30px;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    .imaPress {
        display: inline-block;
        width: 200px;
        
    }
}



