@media (max-width:1024px) {

    /* INDEX */
    .parrafoGrande {
        color: rgb(16, 13, 15);
        font-size: 18px;
        font-family: sans-serifs;
        text-align: center;
    }

    /* DESCUENTO */

    .tituloDescuento {
        margin-left: 30px;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    /* PRESS ON NAILS */

    form {
        width: 200px;
        background-color: rgb(223, 143, 186);
        margin: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        border: 3px solid black;
        width: 100px;
       
    
    }

    .imaPress {
        display: inline-block;
        height: 350px;
        width: 350px;
        
        
    }
}



