#pressonnails {
    
    .accordion {
        margin: 20px;
        border: 3px solid rgb(183, 183, 183);

        button {
            font-weight: bold;
            color: rgb(183, 49, 0);
        }
    }
    .form {


        width: 400px;
        border: 3px solid black;
        margin-left: 50px;
        padding: 40px;
        


    }

    .tituloPress {

        color: rgb(25, 19, 23);
        font-size: 40px;
        margin-top: 10px;
        text-align: center;

    }

    .tituloForm {
        display: inline-block;
        color: rgb(151, 9, 68);
        font-size: 30px;

        font-family: $typoTitle;
    }

    .parrafoPress {
        font-size: 20px;
        text-align: center;
        margin-left: 25px;
        @include colorP($colorSecundario, $colorNav);

    }

    .spanP {
        color: black;
        background-color: rgb(192, 88, 109);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .pPress {
        display: inline-block;
        background-color: rgba(255, 14, 199, 0.105);
        font-size: 25px;
        margin-left: 10px;
        border: solid 3px black;
        padding: 3px;
        
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        border: 3px solid black;
        width: 300px;
        padding: 10px;
        display: block;
        margin-left: 20px;
    }

    form input[type="submit"] {
        background-color: black;
        padding: 10px;
        width: 100px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }

    form input:focus {
        width: 450px
    }

    form input[type="submit"]:focus {
        width: 120px;
        color: black;
        border: solid 4px white;
        background-color: rgb(169, 34, 122);
    }

    .imaPress {
        @extend %estiloimg;
        
    }

    .imaPress2 {
        @extend %estiloimg;
    }
    h4 {
        text-align: center;
    }
    .listaPress {
        
        color: rgb(0, 21, 4);
        text-align: center;
        list-style: none;
        li{
            font-size: 25px;
        }
    
    
    
}

}