#pressonnails {
    
    .accordion {
        margin: 20px;
        border: 3px solid rgb(183, 183, 183);

        button {
            font-weight: bold;
            color: rgb(183, 49, 0);
        }
    }
    

    .tituloPress {

        color: rgb(25, 19, 23);
        font-size: 40px;
        margin-top: 10px;
        text-align: center;

    }


    .parrafoPress {
        font-size: 20px;
        text-align: center;
        margin-left: 25px;
        @include colorP($colorSecundario, $colorNav);

    }

    .spanP {
        color: black;
        background-color: rgb(192, 88, 109);
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }


    .imaPress {
        @extend %estiloimg;
        
    }

    .imaPress2 {
        @extend %estiloimg;
    }
    h4 {
        text-align: center;
    }
    .listaPress {
        
        color: rgb(0, 21, 4);
        text-align: center;
        list-style: none;
        li{
            font-size: 25px;
        }
    
    
    
}

}