#promociones{

  .container {
    display: grid; 
 
  
  }
  h1 {
   
    color: rgb(27, 10, 21);
    margin: 6px;
    text-align: center;
  }
  
  ul li {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
  list-style: none;
  }
  
  
  
  .segundaLista {
    color: rgb(90, 11, 75);
  }
  
  h2 {
    color: black;
    text-align: center;
  
    }
  
    .metodoPago {
      background-color: rgb(108, 104, 106);
      text-align: center;
      font-size: 40px;
      border-radius: 80%;
      margin-bottom: 30px;
      margin-top: 30px;
  
  h3 {
    text-align: center;
  }
  
  h4 {
    text-align: end;
  
  }
}
}
