#promociones{

  .container {
    display: grid;
  }
  h1 {
   
    border: 5px solid black;
    background-color: rgb(189, 80, 133);
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
  
  }
  
 
  li {
   font-size: 20px;
   font-weight: bold;
   text-align: center;
  list-style: none;
  color: rgb(64, 15, 46);
  font-family:$typoParagraph ;
  
  }
  .segundaLista {
    color: rgb(90, 11, 75);
  }
  
  h2 {
    color: black;
    text-align: center;
  
    }
  
    .metodoPago {
      background-color: beige;
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
      margin-top: 30px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      font-family: $typoParagraph;
  
  h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold ;
    color: rgb(127, 34, 101);
  }
  
}
}
